.review-grid {
    font-size: 14px;
    line-height: 20px;
  
    .review-header {
      border-bottom: 1px solid #E5ECED;
      line-height: 1;
      color: #456067
    }
  }
  .gp-label {
    color: #08295a;
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 4px;
    width: 85%;
  }