<toboggan-ws-onboarding></toboggan-ws-onboarding>
<div class="main">
  <button
    gp-button
    label="Upload or add experience(s) manually"
    gp-tooltip-placement="bottom"
    styleType="tertiary"
    iconId="gp-icon-add-circle"
    iconVariations="iconleft"></button>
</div>
<div class="accrordion-panel-wrapper">
  <gp-accordion>
    <gp-accordion-panel
      titleHeading="No experiences added yet"
    >
      <p class="gp-accordion-panel-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, iure doloremque cupiditate mollitia architecto
        dolore dolores veniam,
        consectetur officiis, cumque nisi rem deserunt incidunt magnam quaerat voluptatem voluptatum quo odit?
      </p>
    </gp-accordion-panel>
  </gp-accordion>
</div>
