<gp-page [loggedin]="true">
  <toboggan-ws-onboarding></toboggan-ws-onboarding>
  <div class="main">
    <div>
    </div>
  </div>
  <div class="accrordion-panel-wrapper">
    <gp-accordion>
      <gp-accordion-panel
        titleHeading="No experiences added yet"
        tag=""
        contentHeadline=""
      >
        <p class="gp-accordion-panel-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maxime voluptates eveniet nostrum fugit dicta saepe similique, repellendus minus nobis aperiam cum excepturi at, dolor, nesciunt quos. Perspiciatis, laudantium id?
        </p>
      </gp-accordion-panel>
    </gp-accordion>
  </div>
</gp-page>
